<section>
  <div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>
              Welcome to {{ title }}!
            </h1>
            <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        </div>
        <div class="col-12">
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th scope="col">Variable</th>
                  <th scope="col">Pipe</th>
                  <th scope="col">Output</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ name }}</td>
                  <td>Uppercase</td>
                  <td>{{ name | uppercase }}</td>
                </tr>
                <tr>
                  <td>{{ name }}</td>
                  <td>Lowercase</td>
                  <td>{{ name | lowercase }}</td>
                </tr>
                <tr>
                  <td>{{ name }}</td>
                  <td>slice:3</td>
                  <td>{{ name | slice:3 }}</td>
                </tr>
                <tr>
                  <td>{{ name }}</td>
                  <td>slice:0:3</td>
                  <td>{{ name | slice:0:3 }}</td>
                </tr>
                <tr>
                  <td>{{ myArray }}</td>
                  <td>slice:1:5</td>
                  <td>{{ myArray | slice:1:5 }}</td>
                </tr>
                <tr>
                    <td>{{ pi }}</td>
                    <td>number</td>
                    <td>{{ pi | number }}</td>
                </tr>
                <tr>
                    <td>{{ pi }}</td>
                    <td>number:'3.0-0'</td>
                    <td>{{ pi | number:'3.0-0' }}</td>
                </tr>
                <tr>
                    <td>{{ pi }}</td>
                    <td>number:'1.0-2'</td>
                    <td>{{ pi | number:'1.0-2' }}</td>
                </tr>
                <tr>
                    <td>{{ earnings }}</td>
                    <td>percent</td>
                    <td>{{ earnings | percent }}</td>
                </tr>
                <tr>
                    <td>{{ earnings }}</td>
                    <td>percent:'2.2-2'</td>
                    <td>{{ earnings | percent:'2.2-2' }}</td>
                </tr>
                <tr>
                  <td>{{ salary }}</td>
                  <td>currency</td>
                  <td>{{ salary | currency }}</td>
                </tr>
                <tr>
                  <td>{{ salary }}</td>
                  <td>currency:'BOB'</td>
                  <td>{{ salary | currency:'BOB' }}</td>
                </tr>
                <tr>
                  <td>{{ salary }}</td>
                  <td>currency:'EUR':'symbol'</td>
                  <td>{{ salary | currency:'EUR':'symbol' }}</td>
                </tr>
                <tr>
                  <td>{{ salary }}</td>
                  <td>currency:'EUR':'symbol':'4.0-0'</td>
                  <td>{{ salary | currency:'EUR':'symbol':'4.0-0' }}</td>
                </tr>
                <tr>
                  <td>{{ salary }}</td>
                  <td>number:'.2-2'</td>
                  <td>{{ salary | number:'.2-2' }}</td>
                </tr>
                <tr>
                  <td>{{ myPromise }}</td>
                  <td>async</td>
                  <td>{{ myPromise | async }}</td>
                </tr>
                <tr>
                  <td>{{ myDate }}</td>
                  <td>date</td>
                  <td>{{ myDate | date }}</td>
                </tr>
                <tr>
                  <td>{{ myDate }}</td>
                  <td>date:'fullDate'</td>
                  <td>{{ myDate | date:'fullDate' }}</td>
                </tr>
                <tr>
                  <td>{{ myDate }}</td>
                  <td>date:'dd - MMMM - y'</td>
                  <td>{{ myDate | date:'dd - MMMM - y' }}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="col-6">
          <h4>Array using Slice (pipe)</h4>
          <ul>
            <li *ngFor="let item of myArray | slice:5:20">{{ item }}</li>
          </ul>
        </div>
        <div class="col-6">
          <h4>Pipe JSON</h4>
          <pre>
          {{ myLove | json }}
          </pre>
        </div>
    </div>
  </div>
</section>

